@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");

$color-bg-dark: #1a237e;
$color-bg-light: #8c9eff;
$color-text: #3d5afe;
$color-text-dark: #304ffe;
$color-text-light: #536dfe;

@mixin bg1 {
  background-image: linear-gradient(
    45deg,
    hsla(240, 100%, 13.7%, 1) 0%,
    hsla(193, 77.8%, 49.4%, 1) 100%
  );
}

@mixin Roboto {
  font-family: "Roboto", sans-serif;
}

@mixin Archivo {
  font-family: "Archivo Black", sans-serif;
}

@mixin bg2 {
  background-color: hsla(227, 62.7%, 55.9%, 1);
  background-image: radial-gradient(
      at 38% 93%,
      hsla(40, 98.6%, 72.5%, 1) 0%,
      transparent 50%
    ),
    radial-gradient(at 10% 78%, hsla(13, 91.3%, 55.1%, 1) 0%, transparent 50%),
    radial-gradient(at 11% 38%, hsla(297, 49.1%, 41.6%, 1) 0%, transparent 50%),
    radial-gradient(at 57% 21%, hsla(290, 55.7%, 46.1%, 1) 0%, transparent 50%),
    radial-gradient(at 35% 35%, hsla(290, 55.7%, 46.1%, 1) 0%, transparent 50%),
    radial-gradient(at 79% 9%, hsla(289, 55.7%, 46.1%, 1) 0%, transparent 50%),
    radial-gradient(at 50% 49%, hsla(340, 72.3%, 53.3%, 1) 0%, transparent 50%),
    radial-gradient(at 51% 50%, hsla(340, 72.3%, 53.3%, 1) 0%, transparent 50%),
    radial-gradient(at 46% 93%, hsla(41, 98.7%, 70.4%, 1) 0%, transparent 50%),
    radial-gradient(at 85% 36%, hsla(334, 70%, 51.6%, 1) 0%, transparent 50%),
    radial-gradient(at 86% 64%, hsla(334, 70%, 51.6%, 1) 0%, transparent 50%),
    radial-gradient(at 86% 89%, hsla(338, 70%, 51.6%, 1) 0%, transparent 50%);
}

@mixin bg3 {
  background-color: hsla(0, 0%, 12.9%, 1);
  background-image: radial-gradient(
      at 48% 78%,
      hsla(216, 12.2%, 16.1%, 1) 0%,
      transparent 50%
    ),
    radial-gradient(at 80% 50%, hsla(0, 0%, 2.7%, 1) 0%, transparent 50%),
    radial-gradient(at 34% 37%, hsla(204, 16.9%, 17.5%, 1) 0%, transparent 50%);
}

@mixin bg4 {
  background-color: hsla(203, 73.3%, 52.9%, 1);
  background-image: radial-gradient(
      at 48% 78%,
      hsla(201, 90.8%, 66.1%, 1) 0%,
      transparent 50%
    ),
    radial-gradient(at 80% 50%, hsla(202, 81%, 77.3%, 1) 0%, transparent 50%),
    radial-gradient(at 34% 37%, hsla(199, 100%, 50%, 1) 0%, transparent 50%);
}

* {
  margin: 0;
  padding: 0;
  @include Roboto;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}
