@import "base";

nav {
  box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
  z-index: 5;
  position: fixed;
  background-color: white;
  width: 100%;
  div.menu-md {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

    a.brand {
      font-size: 25px;
      @include Archivo;
      color: $color-text-dark;
    }

    ul {
      display: flex;
      li {
        margin: 0 10px;
        a {
          color: $color-text-dark;
          padding: 5px 10px;
          border-radius: 20px;
          border: rgba(255, 255, 255, 0) 2px solid;
          transition: all 300ms;
          &:hover {
            border: $color-text-dark 2px solid;
            box-shadow: 0 4px 5px 0 rgba(26, 35, 126, 0.14),
              0 1px 10px 0 rgba(26, 35, 126, 0.12),
              0 2px 4px -1px rgba(26, 35, 126, 0.3);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  nav {
    div.menu-md {
      a.brand {
        font-size: 20px;
      }
      ul {
        display: flex;
        li {
          margin: 0 5px;
          a {
            font-size: 15px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  nav {
    div.menu-md {
      display: none;
    }
    div.menu-sm {
      display: block;
    }
  }
}

@media screen and (min-width: 701px) {
  nav {
    div.menu-sm {
      display: none;
    }
  }
}

nav {
  z-index: 5;
  position: fixed;
  background-color: white;
  width: 100%;
  div.menu-sm {
    > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    padding: 10px 20px;
    a.brand {
      font-size: 25px;
      @include Archivo;
      color: $color-text-dark;
    }

    label {
      > input {
        position: absolute;
        appearance: none;
      }
      > div:nth-child(2) {
        width: 40px;
        height: 30px;
        position: relative;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        // overflow: hidden;
        > span {
          position: absolute;
          width: 100%;
          height: 3px;
          background-color: $color-text-dark;
          border-radius: 100px;
          box-shadow: 0 2px 2px 0 rgba(26, 35, 126, 0.14),
            0 3px 1px -2px rgba(26, 35, 126, 0.12),
            0 1px 5px 0 rgba(26, 35, 126, 0.3);
          transition: all 500ms;
          transition-delay: 400ms;
        }
        > span:nth-child(1) {
          transform: translateY(-10px);
          transition-delay: 0ms;
        }
        > span:nth-child(3) {
          transform: translateY(10px);
          transition-delay: 0ms;
        }

        &:hover {
          span {
            box-shadow: 0 4px 5px 0 rgba(26, 35, 126, 0.14),
              0 1px 10px 0 rgba(26, 35, 126, 0.12),
              0 2px 4px -1px rgba(26, 35, 126, 0.3);
          }
        }
      }
    }
    input {
      &:checked ~ div:nth-child(2) {
        span:nth-child(1) {
          transform: translateY(0px) rotate(45deg);
          transition-delay: 400ms;
        }
        span:nth-child(2) {
          transform: translatex(70px);
          transition-delay: 0ms;
        }
        span:nth-child(3) {
          transform: translateY(0px) rotate(135deg);
          transition-delay: 400ms;
        }
      }
      &:checked ~ div:nth-child(3) {
        div:nth-child(1) {
          transform: translateX(0%);
        }
        section:nth-child(2) {
          transform: translateX(0%);
        }
      }
    }
    div:nth-child(3) {
      width: 100%;
      height: 100vh;
      position: absolute;
      z-index: 6;
      right: 0;
      display: flex;
      top: 54px;
      > div,
      > section {
        background-color: white;
        transition: all 500ms;
      }
      > div:nth-child(1) {
        width: 40%;
        height: calc(100vh - 54px);
        transform: translateX(-100%);
        border-right: $color-bg-dark 2px dashed;
      }
      > section:nth-child(2) {
        width: 60%;
        height: calc(100vh - 54px);
        transform: translateX(100%);
        border-left: $color-bg-dark 2px dashed;
      }
    }
    div:nth-child(3) {
      > div:nth-child(1) {
        display: flex;
        flex-direction: column;
        padding: 20px;

        ul {
          display: flex;
          flex-direction: column;
          li {
            margin-top: 20px;
            a {
              font-size: 25px;
              color: $color-text-dark;
              padding: 5px 10px;
              border-radius: 20px;
              border: rgba(255, 255, 255, 0) 2px solid;
              transition: all 300ms;
              &:hover {
                border: $color-text-dark 2px solid;
                box-shadow: 0 4px 5px 0 rgba(26, 35, 126, 0.14),
                  0 1px 10px 0 rgba(26, 35, 126, 0.12),
                  0 2px 4px -1px rgba(26, 35, 126, 0.3);
              }
            }
          }
        }
      }
      > section:nth-child(2) {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
        overflow-y: auto;
        > section:nth-child(3) {
          position: static;
        }
        > section {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-top: 30px;

          ion-icon {
            font-size: 40px;
            color: $color-text-dark;
          }
          a {
            margin-top: 5px;
            color: $color-text-dark;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 455px) {
  nav div.menu-sm div:nth-child(3) > div:nth-child(1) ul li a {
    font-size: 15px;
  }
  nav div.menu-sm div:nth-child(3) > section:nth-child(2) > section a {
    font-size: 10px;
  }
  nav div.menu-sm div:nth-child(3) > section:nth-child(2) > section ion-icon {
    font-size: 30px;
  }
}

article {
  section:nth-child(1) {
    height: 96vh;
    background-color: hsla(207, 87.7%, 35.1%, 1);
    background-image: radial-gradient(
        at 83% 46%,
        hsla(357, 61.8%, 61%, 1) 0%,
        transparent 50%
      ),
      radial-gradient(
        at 58% 57%,
        hsla(240, 58.2%, 53.1%, 1) 0%,
        transparent 50%
      ),
      radial-gradient(at 52% 3%, hsla(231, 65.9%, 55.1%, 1) 0%, transparent 50%),
      radial-gradient(
        at 34% 47%,
        hsla(183, 83.8%, 53.9%, 1) 0%,
        transparent 50%
      ),
      radial-gradient(at 26% 98%, hsla(10, 75.7%, 58%, 1) 0%, transparent 50%),
      radial-gradient(at 17% 42%, hsla(197, 70.6%, 60%, 1) 0%, transparent 50%),
      radial-gradient(
        at 27% 81%,
        hsla(297, 80.3%, 54.1%, 1) 0%,
        transparent 50%
      );
    .custom-shape-divider-bottom-1643123679 {
      position: absolute;
      bottom: 4vh;
      left: 0;
      width: 100%;
      overflow: hidden;
      line-height: 0;
      transform: rotate(180deg);
    }

    .custom-shape-divider-bottom-1643123679 svg {
      position: relative;
      display: block;
      width: calc(100% + 1.3px);
      height: 70px;
    }

    .custom-shape-divider-bottom-1643123679 .shape-fill {
      fill: white;
    }
  }
  section:nth-child(2) {
    height: 300vh;
    background-color: white;
  }
}
