@import "base";

nav {
  box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
  z-index: 5;
  position: fixed;
  background-color: white;
  width: 100%;
  div.menu-md {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

    a.brand {
      font-size: 25px;
      @include Archivo;
      color: $color-text-dark;
    }

    ul {
      display: flex;
      li {
        margin: 0 10px;
        a {
          color: $color-text-dark;
          padding: 5px 10px;
          border-radius: 20px;
          border: rgba(255, 255, 255, 0) 2px solid;
          transition: all 300ms;
          &:hover {
            border: $color-text-dark 2px solid;
            box-shadow: 0 4px 5px 0 rgba(26, 35, 126, 0.14),
              0 1px 10px 0 rgba(26, 35, 126, 0.12),
              0 2px 4px -1px rgba(26, 35, 126, 0.3);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  nav {
    div.menu-md {
      a.brand {
        font-size: 20px;
      }
      ul {
        display: flex;
        li {
          margin: 0 5px;
          a {
            font-size: 15px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  nav {
    div.menu-md {
      display: none;
    }
    div.menu-sm {
      display: block;
    }
  }
}

@media screen and (min-width: 701px) {
  nav {
    div.menu-sm {
      display: none;
    }
  }
}

nav {
  z-index: 5;
  position: fixed;
  background-color: white;
  width: 100%;
  div.menu-sm {
    > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    padding: 10px 20px;
    a.brand {
      font-size: 25px;
      @include Archivo;
      color: $color-text-dark;
    }

    label {
      > input {
        position: absolute;
        appearance: none;
      }
      > div:nth-child(2) {
        width: 40px;
        height: 30px;
        position: relative;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        // overflow: hidden;
        > span {
          position: absolute;
          width: 100%;
          height: 3px;
          background-color: $color-text-dark;
          border-radius: 100px;
          box-shadow: 0 2px 2px 0 rgba(26, 35, 126, 0.14),
            0 3px 1px -2px rgba(26, 35, 126, 0.12),
            0 1px 5px 0 rgba(26, 35, 126, 0.3);
          transition: all 500ms;
          transition-delay: 400ms;
        }
        > span:nth-child(1) {
          transform: translateY(-10px);
          transition-delay: 0ms;
        }
        > span:nth-child(3) {
          transform: translateY(10px);
          transition-delay: 0ms;
        }

        &:hover {
          span {
            box-shadow: 0 4px 5px 0 rgba(26, 35, 126, 0.14),
              0 1px 10px 0 rgba(26, 35, 126, 0.12),
              0 2px 4px -1px rgba(26, 35, 126, 0.3);
          }
        }
      }
    }
    input {
      &:checked ~ div:nth-child(2) {
        span:nth-child(1) {
          transform: translateY(0px) rotate(45deg);
          transition-delay: 400ms;
        }
        span:nth-child(2) {
          transform: translatex(70px);
          transition-delay: 0ms;
        }
        span:nth-child(3) {
          transform: translateY(0px) rotate(135deg);
          transition-delay: 400ms;
        }
      }
      &:checked ~ div:nth-child(3) {
        pointer-events: all;
        div:nth-child(1) {
          transform: translateX(0%);
        }
        section:nth-child(2) {
          transform: translateX(0%);
        }
      }
    }
    div:nth-child(3) {
      width: 100%;
      height: 100vh;
      position: absolute;
      right: 0;
      display: flex;
      top: 53px;
      pointer-events: none;
      > div,
      > section {
        background-color: white;
        transition: all 500ms;
      }
      > div:nth-child(1) {
        width: 40%;
        height: calc(100vh - 54px);
        transform: translateX(-100%);
        border-right: $color-bg-dark 2px dashed;
      }
      > section:nth-child(2) {
        width: 60%;
        height: calc(100vh - 54px);
        transform: translateX(100%);
        border-left: $color-bg-dark 2px dashed;
      }
    }
    div:nth-child(3) {
      > div:nth-child(1) {
        display: flex;
        flex-direction: column;
        padding: 20px;

        ul {
          display: flex;
          flex-direction: column;
          overflow-y: auto;
          li {
            margin-top: 20px;
            a {
              font-size: 25px;
              color: $color-text-dark;
              padding: 5px 10px;
              border-radius: 20px;
              border: rgba(255, 255, 255, 0) 2px solid;
              transition: all 300ms;
              &:hover {
                border: $color-text-dark 2px solid;
                box-shadow: 0 4px 5px 0 rgba(26, 35, 126, 0.14),
                  0 1px 10px 0 rgba(26, 35, 126, 0.12),
                  0 2px 4px -1px rgba(26, 35, 126, 0.3);
              }
            }
          }
          > li:last-child {
            padding-bottom: 40px;
          }
        }
      }
      > section:nth-child(2) {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
        overflow-y: auto;
        > section:nth-child(3) {
          position: static;
        }
        > section {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-top: 30px;

          ion-icon {
            font-size: 40px;
            color: $color-text-dark;
          }
          a {
            margin-top: 5px;
            color: $color-text-dark;
          }
        }
        > section:last-child {
          > a {
            padding-bottom: 40px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 455px) {
  nav div.menu-sm div:nth-child(3) > div:nth-child(1) ul li a {
    font-size: 15px;
  }
  nav div.menu-sm div:nth-child(3) > section:nth-child(2) > section a {
    font-size: 10px;
  }
  nav div.menu-sm div:nth-child(3) > section:nth-child(2) > section ion-icon {
    font-size: 30px;
  }
}

article {
  > section:nth-child(1) {
    > section {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      > h1 {
        font-size: 6em;
        color: white;
        text-shadow: 4px 4px 0px #1a237e;
        box-shadow: inset 0px 0px 20px #1a237e;
        padding: 15px;
        user-select: none;
        span:nth-child(1) {
          letter-spacing: 0.09em;
        }
        span:nth-child(3) {
          letter-spacing: 0.08em;
        }
        @media screen and (max-width: 700px) {
          span:nth-child(1) {
            letter-spacing: 0.01em;
          }
          span:nth-child(3) {
            letter-spacing: normal;
          }
        }
      }
      @media screen and (max-width: 550px) {
        h1 {
          font-size: 5em;
        }
      }
      @media screen and (max-width: 460px) {
        h1 {
          font-size: 4em;
        }
      }
      @media screen and (max-width: 370px) {
        h1 {
          font-size: 3em;
        }
      }
      > div {
        margin-top: 20px;
        box-shadow: inset 0px 0px 10px #1a237e;
        padding: 5px;
        overflow: hidden;
        ion-icon {
          font-size: 50px;
          color: white;
          transform: translateY(-80px);
          animation-name: icon;
          animation-duration: 2s;
          animation-iteration-count: infinite;
          animation-timing-function: linear;
        }
        @keyframes icon {
          0% {
            transform: translateY(-80px);
          }
          50% {
            transform: translateY(0px);
          }
          100% {
            transform: translateY(80px);
          }
        }
      }
    }
    position: relative;
    height: 100vh;
    background-color: hsla(207, 100%, 82.9%, 1);
    background-image: radial-gradient(
        at 48% 78%,
        hsla(189, 64.1%, 63.9%, 1) 0%,
        transparent 50%
      ),
      radial-gradient(at 80% 50%, hsla(197, 100%, 88%, 1) 0%, transparent 50%),
      radial-gradient(at 34% 37%, hsla(199, 100%, 50%, 1) 0%, transparent 50%);
    // background-color: hsla(207, 87.7%, 35.1%, 1);
    // background-image: radial-gradient(
    //     at 83% 46%,
    //     hsla(357, 61.8%, 61%, 1) 0%,
    //     transparent 50%
    //   ),
    //   radial-gradient(
    //     at 58% 57%,
    //     hsla(240, 58.2%, 53.1%, 1) 0%,
    //     transparent 50%
    //   ),
    //   radial-gradient(at 52% 3%, hsla(231, 65.9%, 55.1%, 1) 0%, transparent 50%),
    //   radial-gradient(
    //     at 34% 47%,
    //     hsla(183, 83.8%, 53.9%, 1) 0%,
    //     transparent 50%
    //   ),
    //   radial-gradient(at 26% 98%, hsla(10, 75.7%, 58%, 1) 0%, transparent 50%),
    //   radial-gradient(at 17% 42%, hsla(197, 70.6%, 60%, 1) 0%, transparent 50%),
    //   radial-gradient(
    //     at 27% 81%,
    //     hsla(297, 80.3%, 54.1%, 1) 0%,
    //     transparent 50%
    //   );
    .custom-shape-divider-bottom-1643123679 {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      overflow: hidden;
      line-height: 0;
      transform: rotate(180deg);
    }

    .custom-shape-divider-bottom-1643123679 svg {
      position: relative;
      display: block;
      width: calc(100% + 1.3px);
      height: 82px;
    }

    .custom-shape-divider-bottom-1643123679 .shape-fill {
      fill: white;
    }
  }

  > section:nth-child(2) {
    > section:nth-child(1) {
      background-color: white;
      padding-bottom: 150px;

      padding-top: 100px;
      width: 100%;
      height: max-content;
      display: flex;
      justify-content: center;

      > div {
        padding: 50px 30px 50px 40px;
        width: 60%;
        box-shadow: 0 24px 38px 3px rgba(26, 35, 126, 0.14),
          0 9px 46px 8px rgba(26, 35, 126, 0.12),
          0 11px 15px -7px rgba(26, 35, 126, 0.3);
        border-bottom-right-radius: 100px;
        border-top-left-radius: 100px;
        h3 {
          font-size: 2.5em;
          color: $color-text-dark;
        }

        p {
          color: $color-text;
          margin-top: 20px;
          font-size: 1.2em;
          line-height: 1.5em;
          span {
            color: #000;
          }
          a {
            box-shadow: 0 4px 5px 0 rgba(48, 79, 254, 0.14),
              0 1px 10px 0 rgba(48, 79, 254, 0.12),
              0 2px 4px -1px rgba(48, 79, 254, 0.3);
            transition: all 500ms;
            padding: 5px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            color: $color-text-dark;
            overflow: hidden;
            position: relative;
            top: 5px;
            &:hover > span {
              width: max-content;
              transition: all 500ms;
              transform: translateX(5px);
              padding-right: 15px;
            }
            ion-icon {
              font-size: 25px;
            }
            span {
              transform: translateX(-100px);
              overflow: hidden;
              width: 0;
              font-size: 17px;
              transition: all 500ms;
              position: relative;
            }
          }
        }

        img {
          width: 40%;
          float: right;
          margin-top: -150px;
        }

        @media screen and (max-width: 1050px) {
          img {
            margin-top: -20px;
          }
        }

        @media screen and (max-width: 900px) {
          img {
            width: 60%;
            margin-top: 0px;
          }
        }

        @media screen and (max-width: 550px) {
          img {
            width: 80%;
          }
        }

        @media screen and (max-width: 390px) {
          img {
            width: 100%;
          }
        }

        @media screen and (max-width: 700px) {
          h3 {
            font-size: 1.5em;
          }
          p {
            font-size: 1em;
          }
        }
      }
    }
  }
}

// article {
//   > section:nth-child(2) {
//     > section:nth-child(2) {
//       margin-top: 300px;
//       width: 100%;
//       height: max-content;
//       display: flex;
//       justify-content: center;

//       > div {
//         padding: 50px 30px 50px 40px;
//         width: 60%;

//         box-shadow: 0 24px 38px 3px rgba(26, 35, 126, 0.14),
//           0 9px 46px 8px rgba(26, 35, 126, 0.12),
//           0 11px 15px -7px rgba(26, 35, 126, 0.3);
//         border-bottom-left-radius: 100px;
//         border-top-right-radius: 100px;
//         h3 {
//           font-size: 2.5em;
//           color: $color-text-dark;
//         }
//       }
//     }
//   }
// }

article {
  > section:nth-child(2) {
    > section:nth-child(2) {
      position: relative;
      width: 100%;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      @include bg2;

      > img:nth-child(1) {
        position: absolute;
        top: 0;
      }
      > img:nth-child(3) {
        position: absolute;
        bottom: 0;
        transform: rotate(180deg);
      }
      > img {
        height: 100px;
        width: 100%;
        @media screen and (max-width: 500px) {
          height: 50px;
        }
      }

      > div {
        width: 500px;
        height: 250px;
        // filter: blur(2px);
        background-color: rgba(255, 255, 255, 0.356);
        border: rgba(255, 255, 255, 0.493) 2px solid;
        border-radius: 10px;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h3 {
          color: $color-text-dark;
          text-shadow: 0px 0px 5px #fff;
          font-size: 2.5em;
          text-align: center;
        }
        a {
          margin-top: 50px;
          @include bg2;
          padding: 10px;
          border-radius: 10px;
          color: #fff;
          font-size: 1.5em;
          border: white 2px solid;
          transition: all 300ms;
          &:hover {
            border-color: $color-text-dark;
          }
        }
      }
      @media screen and (max-width: 600px) {
        div {
          width: 100%;
        }
      }
    }
  }
}

article {
  > section:nth-child(2) {
    > section:nth-child(3) {
      background-color: white;
      padding-bottom: 150px;

      padding-top: 100px;
      width: 100%;
      height: max-content;
      display: flex;
      justify-content: center;

      > div {
        padding: 50px 30px 50px 40px;
        width: 60%;
        box-shadow: 0 24px 38px 3px rgba(26, 35, 126, 0.14),
          0 9px 46px 8px rgba(26, 35, 126, 0.12),
          0 11px 15px -7px rgba(26, 35, 126, 0.3);
        border-bottom-right-radius: 100px;
        border-top-left-radius: 100px;
        grid-template-rows: 50% 50%;
        grid-template-columns: 50% 50%;
        @media screen and (max-width: 380px) {
          // width: 80%;
        }
        h3 {
          font-size: 2.5em;
          color: $color-text-dark;
          @media screen and (max-width: 700px) {
            font-size: 1.5em;
          }
        }

        > div.row {
          margin-top: 50px;
          display: grid;
          grid-template-rows: 1fr 1fr 1fr;
          grid-template-columns: 50% 50%;
          @media screen and (max-width: 940px) {
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-columns: 100%;
          }

          > div.col {
            border-radius: 10px;
            box-shadow: 0 8px 17px 2px rgba(61, 90, 254, 0.14),
              0 3px 14px 2px rgba(61, 90, 254, 0.12),
              0 5px 5px -3px rgba(61, 90, 254, 0.3);
            padding: 30px;
            margin: 10px;
            // z-index: 5;
            @media screen and (max-width: 450px) {
              margin: 10px 0;
            }
            p {
              color: $color-text;
              font-size: 1.2em;
              @media screen and (max-width: 700px) {
                font-size: 1em;
              }
            }
            .progress {
              display: flex;
              align-items: center;
              justify-content: space-between;
              @media screen and (max-width: 610px) {
                flex-direction: column;
                align-items: flex-start;
              }
              progress {
                height: 30px;
                width: 240px;
                @media screen and (max-width: 1400px) {
                  width: 200px;
                }
                @media screen and (max-width: 1280px) {
                  width: 150px;
                }
                @media screen and (max-width: 1110px) {
                  width: 100px;
                }
                @media screen and (max-width: 940px) {
                  width: 200px;
                }
                @media screen and (max-width: 500px) {
                  width: 100%;
                }
              }
            }
          }
          @media screen and (max-width: 790px) {
          }
        }

        @media screen and (max-width: 700px) {
          h3 {
            font-size: 1.5em;
          }
          p {
            font-size: 1em;
          }
        }
      }
    }
  }
}

article {
  > section:nth-child(2) {
    > section:nth-child(4) {
      position: relative;
      width: 100%;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      @include bg3;

      > img:nth-child(1) {
        position: absolute;
        top: 0;
      }
      > img:nth-child(3) {
        position: absolute;
        bottom: 0;
        transform: rotate(180deg);
      }
      > img {
        height: 100px;
        width: 100%;
        @media screen and (max-width: 500px) {
          height: 50px;
        }
      }

      > div {
        width: 500px;
        height: 250px;
        // filter: blur(2px);
        background-color: rgba(255, 255, 255, 0.356);
        border: rgba(255, 255, 255, 0.493) 2px solid;
        border-radius: 10px;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h3 {
          color: $color-text-dark;
          text-shadow: 0px 0px 5px #fff;
          font-size: 2.5em;
          text-align: center;
        }
        a {
          margin-top: 50px;
          @include bg3;

          padding: 10px;
          border-radius: 10px;
          color: #fff;
          font-size: 1.5em;
          border: white 2px solid;
          transition: all 300ms;
          &:hover {
            border-color: $color-text-dark;
          }
        }
      }
      @media screen and (max-width: 600px) {
        div {
          width: 100%;
        }
      }
    }
  }
}

article {
  > section:nth-child(2) {
    > section:nth-child(5) {
      background-color: white;
      padding-bottom: 150px;

      padding-top: 200px;
      width: 100%;
      height: max-content;
      display: flex;
      justify-content: center;

      > div {
        padding: 50px 30px 50px 40px;
        width: 60%;
        box-shadow: 0 24px 38px 3px rgba(26, 35, 126, 0.14),
          0 9px 46px 8px rgba(26, 35, 126, 0.12),
          0 11px 15px -7px rgba(26, 35, 126, 0.3);
        border-radius: 100px;
        > div:nth-child(1) {
          display: flex;
          flex-wrap: wrap;
          gap: 10px;
          > div {
            width: calc(50% - 10px);
            > img {
              position: relative;
              width: 100%;
              cursor: pointer;
              transition: all 500ms;
              // overflow: hidden;
              &::before {
                content: "";
                position: absolute;
                width: 100px;
                height: 100px;
                background-color: blue;
              }
              &:hover {
                opacity: 50%;
              }
            }
          }
        }
      }
    }
  }
}
